# AlirezaInallo custom ignore ISE project
*.wcfg
*.log
*.xmsgs
*.cmd
*.prj
*.gise
*.wdb
*.xise
*.db
*.ini
*.html
*info
*.c
*.obj
*.dll
*.dat
*.didat
*.vdb
*.projectmgr
*.xreport
*.dbg
*.exe
*.xrpt
*.cmd_log
*.ngc
*.ngr
*.stx
*.syr
*.xst
*.xml
*.vdbl
*.vdbx
_1

# AlirezaInallo custom ignore Model-Sim project
*.bak
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
exempt*
_vmake
transcript
*.html
*.xmsgs
*.xise
*.lso